.vscode/**
.github/**
src/**
tsconfig.json
eslint.config.js
vitest.config.ts
package-lock.json
scripts/**
.git/**
node_modules/**
**/*.map
jest.config.js
.env.example
.telemetry/**
__tests__/**
vsc-extension-quickstart.md
webpack.config.js
*.ts
*.js
*.json
!package.json
!dist/**
!images/**
!assets/**
!README.md
!CHANGELOG.md
!LICENSE
!CONTRIBUTING.md
